[submodule "ANISMA-software"]
	path = ANISMA-software
	url = https://github.com/augmented-human-lab/ANISMA-software
[submodule "ANISMA-driver-board"]
	path = ANISMA-driver-board
	url = https://github.com/augmented-human-lab/ANISMA-driver-board
[submodule "ANISMA-controller-board"]
	path = ANISMA-controller-board
	url = https://github.com/augmented-human-lab/ANISMA-controller-board
